@font-face {
  font-family: "garamond";
  src: url("fonts/Notable-Regular.ttf");
}

@font-face {
  font-family: "body-text";
  src: url("fonts/NotoSansMono-VariableFont_wdth\,wght.ttf");
}

a {
  text-decoration: none; 
}

header{
  position: sticky;
  top:0;
  font-family: "garamond";
  font-size: 8vw; 
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0px;
  margin-left: 10px;
  background-color: white;
}

.bottom-home {
  font-family: "garamond";
  font-size: 25px; 
  margin-left: 10px;
  margin-right: 10px;
}

.bottom {
  font-family: "body-text";
  font-size: 25px; 
  margin-left: 10px;
  margin-right: 10px;
}

/*body {
  background-color: white; /*Default bg, similar to the background's base color
  background-image: url("icon.png");*/
  /*background-position: right bottom; Positioning*/
  /*background-repeat: no-repeat; Prevent showing multiple background images*/
