@font-face {
  font-family: "garamond";
  src: url("EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

.top {
  font-family: "garamond";
  font-size: 50px; 
  margin-top: 0px; 
  margin-left: 10px;
}

.bottom {
  font-family: "garamond";
  font-size: 25px; 
  margin-top: 10px; 
  margin-left: 10px;
}


@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
