@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap');

a {
  text-decoration: none; 
}

.bio a { text-decoration: underline; text-underline-offset: 3px; }
.bio a:hover { opacity: .7; }


html, body {
  margin: 0;
  padding: 0;
}

body, header {
  background: #fafafa;
  color: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: black; 
  padding-left: 9.7%;
  padding-right: 10%;
  /* font-family: 'Inter'; */
  font-size: min(8vw, 50px);
  padding-top: 50px; 
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: right
}

.bio {
  padding-left: 10%;
  padding-right: 10%;
  font-size: min(25px, 5vw); 
  padding-top: min(30%, 150px); /* clear the fixed header */
  line-height: 1.4
}

.image-block {
  width: min(40%, 200px);
  float: right;
  margin-left: 5%;
  margin-bottom: 3%;
  text-align: center;
}

.img {
  width: 100%;
  display: block;
}

.caption {
  font-size: 15px;
  color: #555;
  margin-top: 6px;
  line-height: 1.3;
}

img {
  transition: opacity .3s ease;
}
img:hover {
  opacity: .85;
}

.wf-loading { visibility: hidden; } /* font is loading and hidden */
.wf-active, .wf-inactive { visibility: visible; } /* font has loaded and is visible */
:root { --font: "DM Sans", system-ui, -apple-system, sans-serif; }
.header, .bio, .caption { font-family: var(--font); }