a {
  text-decoration: none; 
}

body {
  background-color: white;
}

.bio {
  /* font-family: 'Archivo Narrow'; */
  font-family: 'Lato';
  -webkit-text-size-adjust: 100%;
  font-size: min(5vw, 50px);
  text-align: left; 
  margin-right: 10%; 
  margin-left: 10%; 
  padding-top: 40px; 
  font-weight: normal;
  
}

.wf-loading { visibility: hidden; } /* font is loading and hidden */
.wf-active, .wf-inactive { visibility: visible; } /* font has loaded and is visible */