a {
  text-decoration: none; 
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: black; 
  padding-left: 9.7%;
  padding-right: 10%;
  background: white;
  font-family: 'Inter';
  font-size: min(8vw, 50px);
  padding-top: 50px; 
  font-weight: bold;
  text-align: right
}

.bio {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Inter';
  /* font-size: min(5vw, 30px); */
  font-size: 20px; 
  padding-top: min(30%, 150px); /* clear the fixed header */
}
.img {
  width: 30%; 
  float: right; 
  margin-left: 5%; 
  margin-bottom: 3%
}

.wf-loading { visibility: hidden; } /* font is loading and hidden */
.wf-active, .wf-inactive { visibility: visible; } /* font has loaded and is visible */